.btn {
    border-radius: 0;
    border: none;
    position: relative;
    white-space: nowrap;
    text-transform: uppercase;
    &.with-icon{
        align-items: center;
        display: flex;
        justify-content: center;
    }
    &.btn-pagination{
        border-radius: 4px;
        outline: 1px solid $border-color;
        background-color: $white;
        text-transform: none;
        color: $black;
        &.h-36{
            padding: 6px 13px;
        }
        &:hover, &:active{
            background-color: $black;
            color: $white;
            svg{
                path{
                    stroke:$white;
                }
            }
        }
    }
    &.btn-primary{
        background-color: $primary;
        color: $white;
        &:hover, &:active{
            background-color: $grey-2;
            color: $black;
        }
    }
    &.btn-grey-5{
        background-color: $grey-5;
        color: $white;
        &:hover, &:active{
            background-color: $grey-2;
            color: $black;
        }
        &.radius-xxl{
            border-radius: 30px;
        }
    }
    &.btn-skyblue-6{
        background-color: $skyblue-6;
        color: $skyblue-2;
        &:hover, &:active{
            background-color: $grey-2;
            color: $black;
        }
    }
    &.btn-skyblue2{
        background-color: $skyblue-2;
        color:$white;
        border-radius: $radius-lg;
        &:hover, &:active{
            background-color: $grey-2;
            color: $black;
            svg{
                path{
                    stroke: $black;
                }
                g{
                    opacity: 1;
                }
            }
        }
        &.with-icon{
            display: flex;
            justify-content: space-between;
        }
        &.radius-0 {
            border-radius: 0;
        }
        &.radius-xxl{
            border-radius: $radius-xxl;
        }
        &.radius-top10{
            border-radius: 10px 10px 0 0;
        }
        &.check-btn{
            border-radius: 50px;
            font-size: $font-size-lg;
            font-weight: $font-700;
            font-size: $font-size-13;
            text-transform: $text-uppercase;
            width: 100%;
            letter-spacing: 0.38px;
            line-height: $line-height-24;
            &.font-16{
                font-size: $font-size-16;
            }
        }
    }
    &.btn-green2{
        background-color: $green-2;
        color: $white;
        &:hover, &:active{
            background-color: $grey-2;
            color: $black;
        }
        &.radius-xxl{
            border-radius: 40px;
        }
        &.btn-xxl{
            font-size: $font-size-25;
            font-weight: $font-700;
            line-height: $line-height-24;
            width: 100%;
        }
        &.check-btn{
            border-radius: 50px;
            font-size: $font-size-lg;
            font-weight: $font-700;
            font-size: $font-size-13;
            text-transform: $text-uppercase;
            width: 100%;
            letter-spacing: 0.38px;
            line-height: $line-height-24;
            &.font-16{
                font-size: $font-size-16;
            }
        }
    }
    &.btn-white-10{
        background-color: $white-rgba1;
        color: $white;
        text-transform: $text-uppercase;
        &:hover, &:active{
            color: $white;
            background-color: $skyblue-2;
            svg{
                path{
                    stroke: $white;
                }
            }
        }
        &.check-btn{
            border-radius: 50px;
            font-size: $font-size-lg;
            font-weight: $font-700;
            line-height: $line-height-24;
            text-transform: capitalize;
            width: 100%;
            &.btn-modal-footer{
                font-size: $font-size-13;
                text-transform: $text-uppercase;
                letter-spacing: 0.38px;
            }
        }
    }
    &.btn-white{
        background-color: $white;
        color: $dark-blue;
        border-radius: 50px;
        font-size: $font-size-lg;
        font-weight: $font-700;
        line-height: $line-height-24;
        text-transform: capitalize;
        width: 100%;
        &:hover, &:active{
            color: $white;
            background-color: $skyblue-2;
            svg{
                path{
                    stroke: $white;
                }
            }
        }
    }
    &.btn-edit{
        border-radius: $radius-lg;
        padding: 4px 7px;
    }
    &.btn-xs{
        font-size: $font-size-md;
        font-weight: $font-400;
        width: auto;
    }
    &.btn-md{
        font-size: $font-size-md;
        font-weight: $font-800;
        line-height: $line-height-20;
        &.fw-bold{
            font-weight: $font-700;
        }
        &.text-normal{
            text-transform: none;
        }
        &.fw-xxbold{
            font-weight: $font-900;
        }
        &.fw-semibold{
            font-weight: $font-600;
        }
    }
    &.btn-lg{
        font-size: $font-size-lg;
        font-weight: $font-800;
        line-height: $line-height-24;
        &.bold{
            font-weight: $font-700;
        }
    }
    &.btn-16{
        font-size: $font-size-16;
        font-weight: $font-800;
        line-height: $line-height-20;
        &.h-70{
            padding: 20px;
        }
    }
    &.btn-h40{
        padding: 10px 20px;
    }
    &.btn-h44{
        padding: 10px 20px;
    }
    &.btn-h50{
        padding: 13px 20px;
        width: 100%;
    }
    &.btn-h-w-50{
        padding: 13px 14px;
    }
    &.btn-h-w-44{
        padding: 7px;
        border-radius: 50%;
    }
    &.btn-h60{
        padding: 18px 20px;
    }
    &.btn-h64{
        padding: 16px 20px;
    }
    &.btn-h70{
        padding: 25px 20px;
    }
    &.btn-h80{
        padding: 28px 30px;
    }
    &.btn-h30{
        padding: 5px 11px;
    }
    &.btn-h36{
        padding: 8px 20px;
    }
}
.action-btn{
    background-color: $skyblue-3;
    box-shadow: inset 5px 0px 10px #0000000A;
    .btn-skyblue-3{
        color: $grey-5;
        border-bottom: 1px solid $skyblue-4;
        font-size: $font-size-sm;
        font-weight: $font-600;
        &:hover, &:active{
            background-color: $grey-2;
            color: $black;
        }
    }
}
.ticket-action-btn{
    background-color: $dark-blue;
    box-shadow: 10px 0px 10px 0px #03030326 inset;
    position: relative;
    .btn-darkblue{
        font-size: $font-size-xs;
        font-weight: $font-700;
        color: $white;
        line-height: $line-height-18;
        border-bottom: 1px solid $skyblue-rgba1;
        padding: 15px;
        &:hover, &:active{
            background-color: $grey-2;
            color: $black;
            svg{
                path{
                    stroke: $black;
                }
            }
        }
    }
    .btn-end{
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
.offcanvas{
    &.offcanvas-addMaterial,&.offcanvas-payTicket{
        .btn-close{
            background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 9L9 15M9 9L15 15M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            background-color: $skyblue-2;
            background-repeat: no-repeat;
            opacity: 1;
            padding: 18px;
            border-radius: 10px 10px 0 0;
            background-position: center;
            position: absolute;
            right: 9px;
            top: -42px;
            &:hover,&:focus{
                background-color: $grey-2;
                box-shadow: none;
                background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 9L9 15M9 9L15 15M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'), $grey-2;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}