.account-card{
    .title{
        font-size: $font-size-26;
        font-weight: $font-900;
        line-height: $line-height-36;
        text-transform: $text-uppercase;
        letter-spacing: 2px;
        .border-green{
            border-bottom: 6px solid $green-2;
        }
    }
    .link-password{
        font-size: $font-size-lg;
        font-weight: $font-600;
        line-height: $line-height-36;
        color: $green-2;
        &:hover,&:active{
            color: $primary;
        }
    }
}
.add-note-card{
    background-color: $primary;
    border-radius: $radius-lg;
    .add-note-link{
        color: $white;
        font-size: $font-size-md;
        font-weight: $font-600;
        &:hover{
            color: $secondary;
            svg{
                path{
                    stroke: $secondary;
                }
            }
        }
    }
    .btn-label{
        color: $white;
        font-size: $font-size-md;
        font-weight: $font-600;   
    }
}
.category-box{
    background:  linear-gradient(135.37deg, rgba(0, 0, 0, 0.35) 4.29%, rgba(255, 255, 255, 0.35) 95.6%),#EBECF0;
    width: 100%;
    height: 80px;
    background-blend-mode: soft-light;
    box-shadow: 5px 5px 10px 0px #A6ABBD, -5px -5px 10px 0px #FAFBFF;
    border-radius: $radius-xl;
    color: $primary;
    font-size: $font-size-16;
    font-weight: $font-800;
    line-height: $line-height-22;
    &.style-2{
        background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.35) 4.29%, rgba(255, 255, 255, 0.35) 95.6%),#DDDDDD;
    }
}

.amount-card{
    box-shadow: 5px 5px 10px 0px #092742, -5px -5px 10px 0px #325574, 0px 4px 14px 0px #071E33 inset;
    background: $primary;
    border-radius: $radius-lg;
    border: 1px solid $white-rgba2;
    font-size: $font-size-16;
    font-weight: $font-700;
    line-height: $line-height-22;
    color: $white-rgba2;
    text-transform: $text-uppercase;
    .count{
        font-size: $font-size-40;
        font-weight: $font-700;
        line-height: $line-height-50;
    }
}

.dark-card{
    background-color: $black;
    &.search-card{
        border-radius: $radius-xl;
        padding: 20px;
    }
    &.choose-filter{
        box-shadow: 10px 0px 10px 0px #03030326 inset;
        border-radius: $radius-xl;
        padding: 20px;
        position: relative;
        .title{
            font-size: $font-size-16;
            font-weight: $font-900;
            line-height: $line-height-36;
            color: $white;
            text-transform: $text-uppercase;
            letter-spacing: $letter-spacing10;
        }  
        .btn-right{
            position: absolute;
            right: 2%;
        }
    }
    &.material-strip{
        box-shadow: 10px 0px 10px 0px #03030326 inset;
        padding: 11px 15px;
    }
}

.download-receipt-card{
    background-color: $skyblue-8;
    border-radius: $radius-xl;
    padding: 20px;
    .title{
        font-size: $font-size-16;
        font-weight: $font-900;
        line-height: $line-height-36;
        color: $white;
        text-transform: $text-uppercase;
        letter-spacing: $letter-spacing10;
        color: $black;
    }  
    .right-part{
        border-bottom: 1px solid $dark-bluergba1;
        .address{
            font-size: $font-size-13;
            font-weight: $font-600;
            line-height: $line-height-18;
            &.bold{
                font-weight: $font-700;
            }
        }
    }
    .details{
        font-size: $font-size-13;
        font-weight: $font-600;
        line-height: $line-height-30;
        &.bold{
            font-weight: $font-700;
        }
    }
}

.skyblue-border-card{
    border: 1px solid $skyblue-6;
    border-radius: $radius-xl;
    background-color: $white;
}

.grey-box-search-table{
    height: 42px;
    width: 67px;
    border-radius: $radius-lg;
    background-color: $grey-10;
}


.txt-msg{
    background-color: $light-yellow;
    border: 1px solid $yellow;
    color: $dark-yellow;
    font-size: $font-size-13;
    font-weight: $font-600;
    line-height: $line-height-24;
    letter-spacing: 0.38px;
    border-radius: $radius-xl;
    padding: 15px;
    &.red-strip{
        background-color: $red2-rgba1;
        border-color: $red-2;
        color: $red-2;
        .red-link{
            color: $red;
            text-decoration: underline;
        }
    }
    &.secondary-strip{
        font-size: $font-size-sm;
        font-weight: $font-800;
        text-transform: $text-uppercase;
        background-color: $skyblue-6;
        border-color: $secondary;
        color: $secondary;
    }
    &.darkyellow-strip{
        font-size: $font-size-sm;
        font-weight: $font-800;
        text-transform: $text-uppercase;
        background-color: $dark-yellow-rgba1;
        border:1px solid $dark-yellow-2;
        color: $dark-yellow-2;
    }
    &.extrabold{
        font-size: $font-size-sm;
        font-weight: $font-800;
    }
}

.head-skyblue-card{
    border-radius: $radius-lg;
    background-color: $white;
    overflow: hidden;  
    box-shadow: 0px 5px 10px 5px #0000000D;
    .card-head{
        padding: 13px 15px;
        background-color: $skyblue-6;
        font-size: $font-size-md;
        font-weight: $font-800;
        line-height: $line-height-18;
        color: $primary;
        text-transform: $text-uppercase;
    }
    .card-body{
        padding: 15px;
    }
    &.account-summary{
        .card-head{
            font-size: $font-size-md;
            font-weight: $font-800;
            line-height: $line-height-18;
            color: $primary;
            text-transform: $text-uppercase;
            span{
                color: $green-2;
            }
        }
        .card-body{
            ul{
                padding-left : 0;
                .title, .details{
                    list-style-type: none;
                }
                .title{
                    font-size: $font-size-md;
                    font-weight: $font-600;
                    line-height: $line-height-24;
                    letter-spacing: 0.38px;
                }
                .details{
                    font-size: $font-size-md;
                    font-weight: $font-700;
                    line-height: $line-height-24;
                    letter-spacing: 0.38px;
                    &.text-skyblue{
                        color: $secondary;
                    }
                }
            }
        }
    }
    &.my-plan{
        .card-head{
            font-size: $font-size-md;
            font-weight: $font-800;
            line-height: $line-height-18;
            color: $primary;
            text-transform: $text-uppercase;
        }
        .black-strip{
            background-color: $black;
            box-shadow: 0px 5px 10px 5px #0000000D;
            font-size: $font-size-md;
            font-weight: $font-800;
            line-height: $line-height-18;
            color: $white;
            padding: 15px;
        }
        .card-body{
            .description-strip{
                padding: 10px 0;
                &:not(:last-child){
                    border-bottom: 1px solid $dark-bluergba1;
                }
                .title{
                    font-size: $font-size-md;
                    font-weight: $font-700;
                    line-height: $line-height-24;
                    letter-spacing: 0.38px;
                }
                .detail{
                    font-size: $font-size-16;
                    font-weight: $font-800;
                    line-height: $line-height-24;
                    letter-spacing: 0.38px;
                    color: $secondary;
                    .font-small{
                        font-size: $font-size-sm;
                    }
                }
                .description{
                    font-size: $font-size-sm;
                    font-weight: $font-400;
                    line-height: $line-height-24;
                    letter-spacing: 0.38px;
                }
                .btn-bottom{
                    position: absolute;
                    left: 45%;
                }
            }        
        }
    }
    &.check-sign{
        .card-head{
            font-size: $font-size-md;
            font-weight: $font-800;
            line-height: $line-height-18;
            color: $primary;
            text-transform: $text-uppercase;
        }
        .card-body{
            .skyblue-border-card{
                height: 140px;
                position: relative;
                .text-x{
                    font-size: $font-size-16;
                    font-weight: $font-600;
                    line-height: $line-height-36;
                    position: absolute;
                    bottom: 0;
                    left: 2%;
                }
            }
            .btn-part{
                position: absolute;
                right: 12%;
            }
        }
    }
    &.info-card{
        .card-body{
            .grey-box{
                background-color: $box-grey;
                color: $secondary;
                font-size: $font-size-13;
                font-weight: $font-700;
                line-height: $line-height-18;
                border-radius: 50px;
                padding: 8px 10px;
            }
            .btn-bottom{
                position: absolute;
                right: 50%;
            }
        }
    }
}
.head-grey-card{
    border-radius: $radius-lg;
    background-color: $white;
    box-shadow: 0px 5px 10px 5px #0000000D;
    position: relative;
    .card-head{
        padding: 13px 15px;
        background-color: $grey-head;
        font-size: $font-size-sm;
        font-weight: $font-800;
        line-height: $line-height-18;
        color: $primary;
        text-transform: $text-uppercase;
    }
    .card-body{
        padding: 15px;
    }
    &.qbo-card{
        .btn-bottom{
            position: absolute;
            left: 45%;
            top:95%;
        }
        .btn-bottom-left{
            position: absolute;
            left: 2%;
            top:95%;
        }
    }
    &.training-video{
        img{
            border-radius: $radius-lg;
            box-shadow: 0px 5px 10px 5px #0000000D;
        }
    }
    &.iot-device{
        .red-dot{
            background-color: $red-2;
            height: 12px;
            width: 12px;
            border-radius: 50%;
        }
        .card-body{
            img{
                height: 125px;
                width: 110px;
            }
            .device-title{
                font-size: $font-size-md;
                font-weight: $font-800;
                line-height: $line-height-20;
                text-transform: $text-uppercase;
            }
            .workstation{
                font-size: $font-size-md;
                font-weight: $font-400;
                line-height: $line-height-20;
                color: $secondary;
            }
        }
    }
}

.skyblue-box{
    border: 1px dotted $secondary;
    background-color: $skyblue6-rgba5;
    padding: 10px;
    border-radius: $radius-lg;
    position: relative;
    .inner-box{
        border: 1px solid $secondary;
        border-radius: $radius-lg;
    }
    .btn-left{
        position: absolute;
        top: -15px;
        left: 0;
    }
    .btn-right{
        position: absolute;
        top: -15px;
        right: 0;
    }
}

.no-record{
    background-color: $grey-rgba5;
    border-radius: $radius-lg;
    font-size: $font-size-16;
    font-weight: $font-700;
    text-transform: $text-uppercase;
    padding: 17px;
}