.account-card{
    .title{
        font-size: $font-size-26;
        font-weight: $font-900;
        line-height: $line-height-36;
        text-transform: $text-uppercase;
        letter-spacing: 2px;
        .border-green{
            border-bottom: 6px solid $green-2;
        }
    }
    .link-password{
        font-size: $font-size-lg;
        font-weight: $font-600;
        line-height: $line-height-36;
        color: $green-2;
        &:hover,&:active{
            color: $primary;
        }
    }
}
.add-note-card{
    background-color: $dark-blue;
    border-radius: $radius-lg;
    .add-note-link{
        color: $white;
        font-size: $font-size-md;
        font-weight: $font-600;
        &:hover{
            color: $secondary;
            svg{
                path{
                    stroke: $secondary;
                }
            }
        }
    }
    .btn-label{
        color: $white;
        font-size: $font-size-md;
        font-weight: $font-600;   
    }
}