.footer{
    z-index: 3;
    &.main-footer{
        background-color: $primary;
        padding: 50px;
        z-index: 3;
        .left-part{
            .copyright-link{
                color: $white;
                text-transform: uppercase;
                font-size: $font-size-lg;
                font-weight: $font-800;
                letter-spacing: 3px;
                &:hover{
                    color: $secondary;
                }
            }
        }
        .right-part{
            .title{
                font-size: $font-size-22;
                font-weight: $font-800;
                color: $white;
                letter-spacing: 3px;
            }
            .address, .number{
                font-size: $font-size-16;
                color: $white;
                line-height: $line-height-26;
            }
        }
        .social-icons{
            &:not(:last-child){
                margin-right: 10px;
            }
            &:hover{
                svg{
                    g{
                        opacity: 1;
                    }
                    path{
                        fill: $secondary;
                    }
                }
            }
        }
    }
    &.ticket-footer{
        background-image: url("../../../images/backgrounds/bg-footer.png");
        padding: 15px;
        .copyright-text{
            font-size: $font-size-sm;
            font-weight: $font-800;
            line-height: $line-height-18;
            letter-spacing:$letter-spacing10;
            color: $white;
            text-transform: $text-uppercase;
        }
        .social-icons{
            &:not(:last-child){
                margin-right: 10px;
            }
            &:hover{
                svg{
                    g{
                        opacity: 1;
                    }
                    path{
                        fill: $secondary;
                    }
                }
            }
        }
    }
}