.form-group{
    position: relative;
    .form-label{
        &.label-lg{
            font-size: $font-size-lg;
        }
        &.label-md{
            font-size: $font-size-md;
        }
        &.label-darkblue{
            color: $primary;
        }
        &.color-white{
            color: $white-rgba4
        }
    }
}
textarea{
    padding: 15px;
}
.form-control {
    font-weight: $font-400;
    padding: $padding-forminput;
    margin-bottom: 0;
    border: 1px solid $skyblue-5;
    border-radius: $radius-xxl;
    box-shadow: none;
    font-size: $font-size-md;
    color: $black;
    &:focus{
        box-shadow: none;
        border: 1px solid $skyblue-5;
    }
    &::placeholder{
        font-size: $font-size-md;
        font-weight: $font-400;
        color: $black;
    }
    &.h-46{
        padding: 12px 20px;
    }
    &.h-44{
        padding: 12px 20px;
        font-size: $font-size-13;
        color: $primary;
        &::placeholder{
            font-size: $font-size-13;
            color: $primary;
        }
    }
    &.style-3{
        border: 0;
        border-radius: $radius-lg;
        box-shadow: none;
        font-size: $font-size-sm;
        line-height: $line-height-20;
        font-style: italic;
        color: white;
        background-color: $white-rgba1;
        &.h-32{
            padding: 6px 20px;
        }
    }
    &.style-4{
        border: 0;
        border-radius: 50px;
        box-shadow: none;
        font-size: $font-size-16;
        line-height: $line-height-20;
        color: white;
        background-color: $white-rgba1;
        &.h-44{
            padding: 12px 20px;
        }
        &.font-md{
            font-size: $font-size-md;
            &::placeholder{
                font-size: $font-size-md;    
            }
        }
        &::placeholder{
            font-size: $font-size-16;
            color: $white;
        }
    }
    &.search-icon {
        background-image: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.2"><path d="M26.25 26.5845L20.8125 21.2307M13.75 8.12297C17.2018 8.12297 20 10.8781 20 14.2768M23.75 14.2768C23.75 19.7147 19.2728 24.123 13.75 24.123C8.22715 24.123 3.75 19.7147 3.75 14.2768C3.75 8.83894 8.22715 4.43066 13.75 4.43066C19.2728 4.43066 23.75 8.83894 23.75 14.2768Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg>');
        background-position-x: 15px;
        background-position-y: center;
        background-repeat: no-repeat;
        padding-left: 50px !important;
    }
}
// SIMPLE INPUT
.form-floating{
    >label{
        background: $white;
        width: auto;
        height: auto;
        color: $primary;
        &.label-13{
            font-size: $font-size-13;
            font-weight: $font-400;
        }
    }
    .form-control{
        height: auto;
        line-height: 1.5;
        &:focus{
            ~label{
                opacity: 1;
            }
        }
        &:not(:placeholder-shown){
            ~label{
                opacity: 1;
            }    
        } 
        >{
            .form-select{
                ~label{
                    opacity: 1;
                }
            }
        }
    }
    &.bg-rgba-white{
        >label{
            background-color: transparent;
            color: $white;
            font-size: $font-size-16;
        }
        .form-control{
            background-color: $white-rgba1;
            border: none;
            color: $white;
            font-size: $font-size-16;
            &:focus{
                ~label{
                    background-color: $black;
                }
            }
            &:not(:placeholder-shown){
                ~label{
                    background-color: $black;
                }    
            } 
        }
        &.search-icon{
            .form-control{
                &:focus{
                    ~label{
                        left: 2%;
                    }
                }
                &:not(:placeholder-shown){
                    ~label{
                        left: 2%;
                    }    
                } 
            }
            &.h-44{
                >label{
                    left: 35px;
                }
            }
        }
    }
    &.border-secondary{
        >label{
            background-color: $white;
            color: $primary;
            font-size: $font-size-16;
        }
        .form-control{
            background-color: $white;
            border: 1px solid $skyblue-6;
            color: $primary;
            font-size: $font-size-16;
            &:focus{
                ~label{
                    background-color: $white;
                }
            }
            &:not(:placeholder-shown){
                ~label{
                    background-color: $white;
                }    
            } 
        }
        &.search-icon{
            .form-control{
                &:focus{
                    ~label{
                        left: 2%;
                    }
                }
                &:not(:placeholder-shown){
                    ~label{
                        left: 2%;
                    }    
                }
                &.search-icon{
                    background-image: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.2"><path d="M26.25 26.5845L20.8125 21.2307M13.75 8.12297C17.2018 8.12297 20 10.8781 20 14.2768M23.75 14.2768C23.75 19.7147 19.2728 24.123 13.75 24.123C8.22715 24.123 3.75 19.7147 3.75 14.2768C3.75 8.83894 8.22715 4.43066 13.75 4.43066C19.2728 4.43066 23.75 8.83894 23.75 14.2768Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg>');
                } 
            }
            &.h-44{
                >label{
                    left: 35px;
                }
            }
        }
    }
    &.h-46{
        >label{
            left: 13px;
            line-height: 13px;
            padding: 0 7px;
            top: 35%;
            transform-origin: 0 -110px;
        }
        .form-control{
            padding: 12px 20px;
            &:not(:placeholder-shown){
                padding-top: 12px;
                padding-bottom: 12px;
            }
            &:focus{
                padding-top: 12px;
                padding-bottom: 12px;    
            }
        }
    }
    &.h-44{
        >label{
            transform-origin: 0 -110px;
            padding: 0 7px;
            left: 10px;
            line-height: 14px;
            top: 35%;
        }
        .form-control{
            padding: 11px 20px;
            &:not(:placeholder-shown){
                padding-top: 11px;
                padding-bottom: 11px;
            }
            &:focus{
                padding-top: 11px;
                padding-bottom: 11px;    
            }
        }
    }
    &.h-36{
        >label{
            transform-origin: 0 -77px;
            padding: 0 7px;
            left: 10px;
            line-height: 14px;
            top: 32%;
            &.label-13{
                font-size: $font-size-13;
                font-weight: $font-700;
            }
        }
        .form-control{
            padding: 7px 20px;
            &:not(:placeholder-shown){
                padding-top: 7px;
                padding-bottom: 7px;
            }
            &:focus{
                padding-top: 7px;
                padding-bottom: 7px;    
            }
        }
    }
    &.floating-textarea{
        >label{
            padding: 0 5px;
            top: 10px;
            left: 10px;
        }
        .form-control{
            &:focus{
                padding-top: 10px;
                ~label{
                    top: -3px;
                }    
            }
            &:not(:placeholder-shown){
                padding-top: 10px;
                ~label{
                    top: -3px;
                }    
            } 
        }
    }
    &.font-15{
        >label{
            &.label-15{
                font-size: $font-size-15;
                font-weight: $font-700;
            }
        }    
        .form-control{
            font-size: $font-size-15;
            font-weight: $font-700;  
            &:not(:placeholder-shown){
                ~label{
                    font-size: $font-size-13;  
                    font-weight: $font-400;  
                }
            }
            &:focus{
                ~label{
                    font-size: $font-size-13;  
                    font-weight: $font-400;  
                } 
            }  
        }
        &.h-44{
            .form-control{
                padding: 10px 20px;
            }
        }
    }
    &.font-md{
        >label{
            &.label-md{
                font-size: $font-size-md;
            }
        }    
        .form-control{
            font-size: $font-size-md;
        }
    }
}
// END SIMPLE INPUT
.select-style-2{
    .dropdown{
        &.bootstrap-select{
            width: 100% !important;
            .btn{
                border-radius: 50px;
                &.btn-select{
                    height:44px;
                    font-weight: $font-400;
                    border: 1px solid $skyblue-6;
                    color: $primary;
                    letter-spacing: inherit;
                    background: $white;
                    width: 100%;
                    text-transform: inherit;
                    font-size: $font-size-13;
                    padding:10px 15px;
                    line-height: 22px;
                    &:focus,&:hover{
                        outline: none !important;
                        color: $primary;
                        border: $border-grey;
                    }
                }
                &.dropdown-toggle{
                    &.show{
                        &:after{
                            transform: rotate(180deg);    
                        }
                    }
                    &:after{
                        background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 7.5L10 12.5L15 7.5" stroke="%230E3456" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                        background-size: 100%;
                        border: 0;
                        width: 25px;
                        height: 25px;
                        content: '';
                        margin-top: 0px;
                        background-position: center;
                        margin-right: -5px;
                    }
                }
            }
            
            .bs-actionsbox, 
            .bs-donebutton, 
            .bs-searchbox{
                margin-bottom: 10px;
            }
            .dropdown-menu{
                font-weight: $font-600;
                font-size: $font-size-sm;
                .form-control{
                    height: 30px;  
                }
                a{
                    color: $black;
                    &:hover, &:focus{
                        background-color: #000;
                        span{
                            color: $white;
                        }
                    }
                    &.active{
                        background-color: #000;
                        span{
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    &.font-15{
        .dropdown{
            &.bootstrap-select{
                .btn{
                    &.btn-select{
                        font-weight: $font-700;
                        font-size: $font-size-15;
                    }
                    &.dropdown-toggle{
                        &:after{
                            background-repeat: no-repeat;
                        }
                    }
                }
                .dropdown-menu{
                    font-weight: $font-700;
                    font-size: $font-size-15;
                }
            }
        }    
    }
    &.w-90{
        .dropdown{
            &.bootstrap-select{
                width: 80px!important;
                .btn{
                    &.dropdown-toggle{
                        &:after{
                            background-size: auto;
                        }
                    }
                }
            }
        }    
    }
}
.select-style-3{
    .dropdown{
        &.bootstrap-select{
            width: 100% !important;
            .btn{
                border-radius: 34px;
                &.btn-select{
                    height:36px;
                    font-weight: $font-600;
                    border: 1px solid $border-color;
                    color: $black-2;
                    background: $white;
                    text-transform: inherit;
                    font-size: $font-size-md;
                    line-height: $line-height-14;
                    padding:10px 15px;
                    width: auto;
                    &:focus,&:hover{
                        outline: none !important;
                        color: $black-2;
                        border: $border-grey;
                    }
                }
                &.dropdown-toggle{
                    &.show{
                        &:after{
                            transform: rotate(180deg);    
                        }
                    }
                    &:after{
                        background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.18414 5.7676C4.423 5.53792 4.80282 5.54537 5.0325 5.78423L8 8.93443L10.9675 5.78423C11.1972 5.54537 11.577 5.53792 11.8159 5.7676C12.0547 5.99727 12.0622 6.3771 11.8325 6.61596L8.4325 10.216C8.31938 10.3336 8.16321 10.4001 8 10.4001C7.83679 10.4001 7.68062 10.3336 7.5675 10.216L4.1675 6.61596C3.93782 6.3771 3.94527 5.99727 4.18414 5.7676Z" fill="%23626262"/></svg>');
                        background-size: 100%;
                        border: 0;
                        width: 26px;
                        height: 26px;
                        content: '';
                        margin-top: 0px;
                        background-position: center;
                        margin-right: -5px;
                        background-repeat: no-repeat;
                    }
                }
            }
            
            .bs-actionsbox, 
            .bs-donebutton, 
            .bs-searchbox{
                margin-bottom: 10px;
            }
            .dropdown-menu{
                font-weight: $font-600;
                font-size: $font-size-sm;
                .form-control{
                    height: 30px;  
                }
                a{
                    color: $black;
                    &:hover, &:focus{
                        background-color: #000;
                        span{
                            color: $white;
                        }
                    }
                    &.active{
                        background-color: #000;
                        span{
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}
// .select-style-4{
//     .dropdown{
//         &.bootstrap-select{
//             width: 100% !important;
//             .btn{
//                 border-radius: 34px;
//                 &.btn-select{
//                     height:44px;
//                     font-weight: $font-400;
//                     border: 0;
//                     color: $white;
//                     background: $white-rgba1;
//                     text-transform: inherit;
//                     font-size: $font-size-sm;
//                     line-height: $line-height-24;
//                     padding:10px 15px;
//                     &:focus,&:hover{
//                         outline: none !important;
//                         color: $white;
//                         border: 0;
//                     }
//                 }
//                 &.dropdown-toggle{
//                     &.show{
//                         &:after{
//                             transform: rotate(180deg);    
//                         }
//                     }
//                     &:after{
//                         background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.18414 5.7676C4.423 5.53792 4.80282 5.54537 5.0325 5.78423L8 8.93443L10.9675 5.78423C11.1972 5.54537 11.577 5.53792 11.8159 5.7676C12.0547 5.99727 12.0622 6.3771 11.8325 6.61596L8.4325 10.216C8.31938 10.3336 8.16321 10.4001 8 10.4001C7.83679 10.4001 7.68062 10.3336 7.5675 10.216L4.1675 6.61596C3.93782 6.3771 3.94527 5.99727 4.18414 5.7676Z" fill="white"/></svg>');
//                         background-size: 100%;
//                         border: 0;
//                         width: 26px;
//                         height: 26px;
//                         content: '';
//                         margin-top: 0px;
//                         background-position: center;
//                         margin-right: -5px;
//                         background-repeat: no-repeat;
//                     }
//                 }
//             }
            
//             .bs-actionsbox, 
//             .bs-donebutton, 
//             .bs-searchbox{
//                 margin-bottom: 10px;
//             }
//             .dropdown-menu{
//                 font-weight: $font-600;
//                 font-size: $font-size-sm;
//                 .form-control{
//                     height: 30px;  
//                 }
//                 a{
//                     color: $black;
//                     &:hover, &:focus{
//                         background-color: #000;
//                         span{
//                             color: $white;
//                         }
//                     }
//                     &.active{
//                         background-color: #000;
//                         span{
//                             color: $white;
//                         }
//                     }
//                 }
//             }
//         }
//     }
//     &.font-md{
//         .dropdown{
//             &.bootstrap-select{
//                 .btn{
//                     &.btn-select{
//                         font-size: $font-size-md;
//                     }
//                 }
//             }
//         }
//     }
// }

input[type="date"] {
    position: relative;
    &::-webkit-calendar-picker-indicator {
        color: transparent;
        background: none;
        z-index: 1;
    }
    &:before {
        color: transparent;
        background: none;
        display: block;
        content: '';
        background-image: url("../../../images/icons/calender.svg");
        width: 20px;
        height: 20px;
        position: absolute;
        right: 10px;
        opacity: 0.10;
    }
    &.form-calender{
        &:before {
            background-image: url("../../../images/icons/calendar-2.svg");
            opacity: 1;
            right: 15px;
        }
    }
    &.form-calender-white2{
        &:before {
            background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.2"><path d="M17.5 8.33342H2.5M13.3333 1.66675V5.00008M6.66667 1.66675V5.00008M6.5 18.3334H13.5C14.9001 18.3334 15.6002 18.3334 16.135 18.0609C16.6054 17.8212 16.9878 17.4388 17.2275 16.9684C17.5 16.4336 17.5 15.7335 17.5 14.3334V7.33342C17.5 5.93328 17.5 5.23322 17.2275 4.69844C16.9878 4.22803 16.6054 3.84558 16.135 3.6059C15.6002 3.33341 14.9001 3.33341 13.5 3.33341H6.5C5.09987 3.33341 4.3998 3.33341 3.86502 3.6059C3.39462 3.84558 3.01217 4.22803 2.77248 4.69844C2.5 5.23322 2.5 5.93328 2.5 7.33341V14.3334C2.5 15.7335 2.5 16.4336 2.77248 16.9684C3.01217 17.4388 3.39462 17.8212 3.86502 18.0609C4.3998 18.3334 5.09987 18.3334 6.5 18.3334Z" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg>');
            opacity: 1;
            right: 15px;
        }
    }
}

.form-switch{
    padding-left: 0;
    .switch-label{
        font-size: $font-size-13;
        line-height: $line-height-18;
        color: $primary;
    }
    .custom-switch{
        &.switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 30px;
            input{
                opacity: 0;
                width: 0;
                height: 0;
                &:checked{
                    & + .slider {
                        background-color: $primary;
                        &::before {
                            -webkit-transform: translateX(30px);
                            -ms-transform: translateX(30px);
                            transform: translateX(30px);
                        }
                    }
                }
            } 
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $white;
                -webkit-transition: .4s;
                transition: .4s;
                border: 1px solid $grey-1;
                &::before {
                    position: absolute;
                    content: "";
                    height: 24px;
                    width: 24px;
                    left: 2px;
                    bottom: 2px;
                    background-color: white;
                    box-shadow: 0px 3px 6px #00000029;
                    -webkit-transition: .4s;
                    transition: .4s;
                }
                &.round {
                    border-radius: 34px;
                    &::before {
                        border-radius: 50%;
                    }
                }
            }
            &.style-2{
                height: 34px;    
                input{
                    opacity: 0;
                    width: 0;
                    height: 0;
                    &:checked{
                        & + .slider {
                            background-color: $white;
                            &::before {
                                -webkit-transform: translateX(20px);
                                -ms-transform: translateX(20px);
                                transform: translateX(20px);
                            }
                        }
                    }
                }
                .slider{
                    border: 1px solid $skyblue-6;
                    &::before {
                        left: 7px;
                        bottom: 11%;
                        background-color: $secondary;
                        box-shadow: 0px 4px 4px 0px #00000040;
                    }
                }
            }
        }
    }
}

//CHECK BOX
.form-check {
    position: relative;
    padding-left: 30px;
    min-height: 30px;
    &.form-inline{
        display: inline-flex;
        align-items: center;
    }

    .form-check-input[type="checkbox"] {
        width: 30px;
        height: 30px;
        border-radius: $radius-lg;
        box-shadow: $shadow-lg;
        border: 1px solid $skyblue-5;
        background-color: $white;
        margin-bottom: 0px;
       
        &:checked {
            background-color: $secondary;
            border-color: $secondary;
            background-image: none;
        }
        &:focus {
            box-shadow: $shadow-lg;
        }
        &:hover {
            cursor: pointer;
            background-color: $secondary;
        }
        &.add-after {
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
            min-height: 30px;
            & + svg {
                display: none;
                pointer-events: none;
                -webkit-pointer-events: none;
                -moz-pointer-events: none;
            }
            &:checked {
                & + svg {
                    z-index: 2;
                    display: block;
                    position: absolute;
                    left: 5px;
                    top: 5px;
                    color: $white;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .form-check-label {
        &.style-1 {
           font-size: $font-size-lg;
           font-weight: $font-600;
        }
        &.style-2 {
           font-size: $font-size-md;
           font-weight: $font-600;
           text-transform: capitalize;
        }
        &.style-3 {
           font-size: $font-size-16;
           font-weight: $font-600;
           line-height: $line-height-28;
        }
    }
    &.style-2{
        .form-check-input[type="checkbox"] {
            box-shadow: none;
            border:none;
            background-color: $white-rgba1;
            &:checked {
                background-color: $white;
                border-color: none;
            }
            &:focus {
                box-shadow: none;
            }
            &:hover {
                cursor: pointer;
                background-color: $white;
            }
            &.add-after {
                & + svg {
                    & + svg{
                        display: none;
                    }
                }
                &:checked {
                    & + svg {
                        color: $black;
                    }
                }
            }
        }
    }
}
// END CHECKBOX

// RADIO BUTTON
.form-check-input[type="radio"] {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid $skyblue-5;
    background-color: $white;
    margin-bottom: 0px;

    &:checked {
        background-color: $white;
        border: 1px solid $skyblue-5;
        background-image: none;
    }

    &:focus {
        box-shadow: 0px 10px 20px 10px #0000000D;
    }

    &:hover {
        cursor: pointer;
        background-color: $secondary;
    }

    &.add-after2 {
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0px;
        margin: 0;
        min-height: 30px;

        &+svg {
            display: none;
            rect {
                filter: drop-shadow(0 -3px 1px rgba(0, 0, 0, .25));
            }
            &+.form-check-label {
                font-size: $font-size-md;
                color: $black;
                font-weight: $font-600;
                line-height: $line-height-26;
            }
        }

        &:checked {
            &+svg {
                z-index: 2;
                display: block;
                position: absolute;
                left: 0px;
                top: 0px;
                color: #fff;
                width: 30px;
                height: 30px;
                filter: drop-shadow(0px 10px 20px 10px rgba(0, 0, 0, 0.05));
            }
        }
    }
}

// END RADIO BUTTON
  
// file input
.upload-box{
    .browse-file{
        border-right: 1px solid $grey-3;
        overflow: hidden;
        height: 100%;
        width: 60px;
    }
    a{
        &.cancel-upload-btn{
            span{
                background-color: $red;
            }
            &:hover, &:active{
                span{
                    background-color: $secondary;
                    color: $white;
                }
            }
        }
    }
    &.id-upload{
        .browse-file{
            #filename-3,#filename-4,#filename-5, #filename-6, #filename-7, #filename-8{
                float:left;
                white-space: nowrap;
                overflow:hidden;
                background:$white;
            }
            #file-upload-3,#file-upload-4,#file-upload-5, #file-upload-6, #file-upload-7, #file-upload-8 {
                position: absolute;
                left: -9999px;
            }
            label[for="file-upload-3"], label[for="file-upload-4"], label[for="file-upload-5"], label[for="file-upload-6"], 
            label[for="file-upload-7"],label[for="file-upload-8"]{
                padding:0;  
                cursor: pointer;
                &:hover,
                &:focus {
                    background-color: transparent;
                    color: transparent;
                }
            }
            label[for="file-upload-5"],label[for="file-upload-6"]{
                height: 60px;
                width: 60px;
                border: 1px dashed $secondary;
                border-radius: 10px;
                padding: 5px;
            }
            label[for="file-upload-7"]{
                border: 1px dashed $secondary;
                border-radius: 10px;
                padding: 19px;   
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: $text-uppercase;
                font-size: $font-size-sm;
                font-weight: $font-700;
                line-height: $line-height-18;
                color: $secondary;
                &:hover{
                    color: $secondary;
                }
            }
            label[for="file-upload-8"]{
                border: 1px dashed $secondary;
                background-color: $skyblue6-rgba5;
                border-radius: 10px;
                padding: 19px;   
                width: 100%;
                font-size: $font-size-15;
                font-weight: $font-700;
                line-height: $line-height-20;
                color: $primary;
                &:hover{
                    color: $secondary;
                    background-color: $skyblue6-rgba5;
                }
            }
        }
    }
}

// FLOATING SELECT
.floating-group{
    &.floating-diff{
        &.focused{
            .floating-label{
                opacity: 1;
            }
        }
    } 
    &.form-group{
        position: relative;
        &.focused{
            .floating-label {
                color: $primary;
                font-size: $font-size-13;
                left: 15px;
                opacity: 1;
                top: -9px;
                background: white;
                padding: 0 5px;
            }
            select{
                &.form-control{
                    padding-top: 11px;
                    line-height: 14px;
                }
            }
            &::after{
                transform: rotate(180deg);
            }
        }
        &::after{
            content: "";
            background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 7.5L10 12.5L15 7.5" stroke="%230E3456" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            height: 20px;
            position: absolute;
            width: 20px;
            top: 25%;
            right: 5%;
        }
    } 
    .floating-label {
        font-size: $font-size-13;
        font-weight: $font-400;
        color: $primary;
        top: 16px;
        left: 20px;
        pointer-events: none;
        position: absolute;
        transition: 240ms;
        margin-bottom: 0;
        z-index: 1;
        opacity: 0;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &.form-control {
            display: block;
            -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            transition: 0.15s;
            height:auto;
            min-height: 44px;
            font-weight: $font-400;
            border: 1px solid $skyblue-6;
            color: $primary;
            letter-spacing: inherit;
            background-color: $white;
            width: 100%;
            text-transform: inherit;
            font-size: $font-size-13;
            padding: 10px 20px;
            line-height: 22px;
            &:focus {
                color: $primary;
                background-color: #FFF;
                border:1px solid $skyblue-6 ;
                outline: 0;
                box-shadow: none;
            }
            &.h-36{
                min-height: 36px;
                padding: 5px 15px;
                font-weight: $font-700;
            }
        }
    }
    &.font-15{
        &.floating-group{
            select{
                &.form-control{
                    font-size: $font-size-15;
                    font-weight: $font-700;
                }
            }
        }
    }
    &.bg-rgba-white{
        &.form-group{
            &.focused{
                .floating-label{
                    font-size: $font-size-sm;
                    background-color: $black;
                    color: $white;
                }
            }
            &::after{
                background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 7.5L10 12.5L15 7.5" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            }
        }
        .floating-label{
            font-size: $font-size-sm;
        }
        select{
            &.form-control{
                background: $white-rgba1;
                border: none;
                color: $white;
                font-size: $font-size-sm;
            }
            option{
                color: $black;
                background-color: $white;
                &:hover{
                    background-color: $black;
                    color: $white;
                }
            }
        }
        &.font-md{
            &.form-group{
                &.focused{
                    .floating-label{
                        font-size: $font-size-md;
                    }
                }
            }
            .floating-label{
                font-size: $font-size-md;
            }
            select{
                &.form-control{
                    font-size: $font-size-md;
                }
            }
        }
        &.font-16{
            &.form-group{
                &.focused{
                    .floating-label{
                        font-size: $font-size-md;
                    }
                }
            }
            .floating-label{
                font-size: $font-size-md;
            }
            select{
                &.form-control{
                    font-size: $font-size-16;
                }
            }
        }
    }
}



  
  
  
/*--------select2-css----*/
.select2Part .floating-label{
    opacity: 0;
}
.select2Part.focused .floating-label{
    opacity: 1;
}
.select2multiple .floating-label{
    opacity: 1;
}
.select2Part.focused .select2-container--default .select2-selection--single .select2-selection__rendered{
    padding-top: 13px;
}
.select2-container--default .select2-selection--single{
    border: 1px solid #DFE3E7;
    height: 55px;
}
.select2-container--focus.select2-container--default .select2-selection--single{
    border: 1px solid #5A8DEE;
    background-color: #fff;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px;
    transition: 240ms;
    padding-right: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #475F7B;
    padding-top: 7px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 53px;
    right: 15px;
    transition: 240ms;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: rgb(236 238 241);
    color: #4a494a;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border: none;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9Ii00NzMgMjc3IDEyIDgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTQ3MyAyNzcgMTIgODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6IzhBOTNBNjt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTS00NzEuNiwyNzcuM2w0LjYsNC42bDQuNi00LjZsMS40LDEuNGwtNiw2bC02LTZMLTQ3MS42LDI3Ny4zeiIvPg0KPC9zdmc+DQo=') no-repeat 0 0;
    width: 12px;
    height: 8px;
    background-size: 100% 100%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #5A8DEE;
    color: #fff;
}  
.select2-container--default .select2-results__option:last-child{
    border-radius: 0px 0px 4px 4px;
}
.select2-container--default .select2-selection--single{
    border-radius: .267rem;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding-left: 19px;

}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple, 
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.select2-results__option {
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    color: #4F4F4F;
    font-size: 15px;
    font-weight: 400;
}
.select2-container--open .select2-dropdown--above {
    box-shadow: 0px 6px 32px rgb(0 0 0 / 10%);
    border-radius: 0px;
    border: none;
    top: 8px;
    border-radius: 6px;
    overflow: hidden;
}

.select2-container--open .select2-dropdown--below{
    box-shadow: 0px 2px 18px rgb(0 0 0 / 16%);
    border-radius: 0px;
    border: none;
    top: -8px;
    border-radius: 6px;
    overflow: hidden;
}
.select2Part.w-100 > .select2-container{    
    width: 100% !important;
}
.select2-search--dropdown{
    padding: 12px 15px;
    position: relative;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    font-size: 14px;
    border: 1px solid #DFE3E7;
    border-radius: 4px;
    color: #757575;
    padding: 10px 15px;
    background-color: #fff;
    position: relative;
    padding-right: 45px;
}
.select2-container--default .select2-search--dropdown:after{
    content: "\f002";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 23px;
    right: 30px;
    font-size: 15px;
    color: rgba(0,0,0,0.54);
}
.select2-container--default .select2-selection--multiple{
    background-color: #fff;
    border: 1px solid #DFE3E7;
    min-height: 50px;
    border-radius: 6px;
    position: relative;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: 1px solid #5A8DEE;
    background-color: #fff;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{
    color: #757575;
    line-height: 55px;
    padding-right: 40px;
    display: block;
    height: 100%;
    padding-bottom: 7px;
    padding-top: 17px;
    padding-left: 17px;
    transition: 240ms;
}
.select2-container--default .select2-selection--multiple .select2-selection__arrow {
    height: 48px;
    right: 15px;
}
.select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field{
    line-height: initial;
    padding: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered:before {
    border: none;
    content: '';
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9Ii00NzMgMjc3IDEyIDgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTQ3MyAyNzcgMTIgODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6IzhBOTNBNjt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTS00NzEuNiwyNzcuM2w0LjYsNC42bDQuNi00LjZsMS40LDEuNGwtNiw2bC02LTZMLTQ3MS42LDI3Ny4zeiIvPg0KPC9zdmc+DQo=') no-repeat 0 0;
    width: 12px;
    height: 8px;
    background-size: 100% 100%;
    transform: translateY(-50%);
    position: absolute;
    right: 18px;
    top: 26px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
    line-height: initial;
    padding: 5px;
    font-size: 14px;
    position: relative;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    cursor: default;
    float: left;
    color: #1f1f1f;
    margin-right: 5px;
    margin-top: 5px;
    width: initial !important;
    padding: 5px 10px;
    padding-right: 24px !important;
    font-size: 13px !important;
    letter-spacing: 0.3px;
}
.select2-container--default .select2-search--inline .select2-search__field{
    width: 100% !important;
    font-size: 16px;
    margin-top: 0px;
    padding: 0;
    padding-left: 5px;
    line-height: 27px;
    padding-top: 6px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    position: absolute;
    font-size: 17px;
    width: 20px;
    height: 20px;
    top: 3px;
    text-align: center;
    color: #e45555;
    right: 0px;
}
.floating-group.focused .select2-container--default .select2-selection--multiple .select2-selection__rendered{
    padding-bottom: 7px;
    padding-top: 17px;
    padding-left: 17px;
}
/*.select2multiple .select2-container--default .select2-results__option[aria-selected=true] {
    display: none;
}*/