.form-group{
    position: relative;
    .form-label{
        &.label-lg{
            font-size: $font-size-lg;
        }
        &.label-md{
            font-size: $font-size-md;
        }
        &.label-darkblue{
            color: $dark-blue;
        }
        &.color-white{
            color: $white-rgba4
        }
    }
}
textarea{
    padding: 15px;
}
.form-control {
    border-radius: 0;
    border: $border-grey;
    font-weight: $font-400;
    font-size: $font-size-sm;
    padding: $padding-forminput;
    color: $grey-2;
    margin-bottom: 0;
    &:focus{
        outline: none;
        box-shadow: none;
        border: $border-grey;
        color: $grey-2;
    }
    &::placeholder{
        font-size: $font-size-sm;
        color: $grey-2;
    }
    &.style-2{
        border: 1px solid $skyblue-5;
        border-radius: $radius-xxl;
        box-shadow: $shadow-lg;
        font-size: $font-size-16;
        &.h-46{
            padding: 10px 20px;
        }
        &.h-44{
            padding: 9px 20px;
        }
    }
    &.style-3{
        border: 0;
        border-radius: $radius-lg;
        box-shadow: none;
        font-size: $font-size-sm;
        line-height: $line-height-20;
        font-style: italic;
        color: white;
        background-color: $white-rgba1;
        &.h-32{
            padding: 6px 20px;
        }
    }
    &.style-4{
        border: 0;
        border-radius: 50px;
        box-shadow: none;
        font-size: $font-size-16;
        line-height: $line-height-20;
        color: white;
        background-color: $white-rgba1;
        &.h-44{
            padding: 12px 20px;
        }
        &.font-md{
            font-size: $font-size-md;
            &::placeholder{
                font-size: $font-size-md;    
            }
        }
        &::placeholder{
            font-size: $font-size-16;
            color: $white;
        }
    }
    &.search-icon {
        background-image: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.2"><path d="M26.25 26.5845L20.8125 21.2307M13.75 8.12297C17.2018 8.12297 20 10.8781 20 14.2768M23.75 14.2768C23.75 19.7147 19.2728 24.123 13.75 24.123C8.22715 24.123 3.75 19.7147 3.75 14.2768C3.75 8.83894 8.22715 4.43066 13.75 4.43066C19.2728 4.43066 23.75 8.83894 23.75 14.2768Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg>');
        background-position-x: 5%;
        background-position-y: center;
        background-repeat: no-repeat;
        padding-left: 50px !important;
    }
}

.dropdown{
    &.bootstrap-select{
        width: 100% !important;
        .btn{
            border-radius: 0;
            &.btn-select{
                height: $form-height40;
                font-weight: $font-400;
                border: $border-grey;
                color: $grey-2;
                letter-spacing: inherit;
                background: $white;
                width: 100%;
                text-transform: inherit;
                font-size: $font-size-sm;
                padding: 10px;
                &:focus,&:hover{
                    outline: none !important;
                    color: $grey-2;
                    border: $border-grey;
                }
            }
            &.dropdown-toggle{
                &.show{
                    &:after{
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='10' fill='%23D5D5D5' viewBox='0 96 960 960' width='6'%3E%3Cpath d='m283 711-43-43 240-240 240 239-43 43-197-197-197 198Z'/%3E%3C/svg%3E%0A");
                    }
                }
                &:after{
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='10' viewBox='0 96 960 960' width='6' fill='%23D5D5D5'%3E%3Cpath d='M480 711 240 471l43-43 197 198 197-197 43 43-240 239Z'/%3E%3C/svg%3E%0A");
                    background-size: 100%;
                    border: 0;
                    width: 24px;
                    height: 24px;
                    content: '';
                    margin-top: 0px;
                    background-position: center;
                    margin-right: -10px;
                }
            }
        }
        
        .bs-actionsbox, 
        .bs-donebutton, 
        .bs-searchbox{
            margin-bottom: 10px;
        }
        .dropdown-menu{
            font-weight: $font-600;
            font-size: $font-size-sm;
            .form-control{
                height: 30px;  
            }
            a{
                color: $black;
                &:hover, &:focus{
                    background-color: #000;
                    span{
                        color: $black;
                    }
                }
                &.active{
                    background-color: #000;
                    span{
                        color: $white;
                    }
                }
            }
        }
    }
}
.select-style-2{
    .dropdown{
        &.bootstrap-select{
            width: 100% !important;
            .btn{
                border-radius: 50px;
                &.btn-select{
                    height:44px;
                    font-weight: $font-400;
                    border: 1px solid $skyblue-6;
                    color: $dark-blue;
                    letter-spacing: inherit;
                    background: $white;
                    width: 100%;
                    text-transform: inherit;
                    font-size: $font-size-13;
                    padding:10px 15px;
                    line-height: 22px;
                    &:focus,&:hover{
                        outline: none !important;
                        color: $dark-blue;
                        border: $border-grey;
                    }
                }
                &.dropdown-toggle{
                    &.show{
                        &:after{
                            transform: rotate(180deg);    
                        }
                    }
                    &:after{
                        background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 7.5L10 12.5L15 7.5" stroke="%230E3456" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                        background-size: 100%;
                        border: 0;
                        width: 25px;
                        height: 24px;
                        content: '';
                        margin-top: 0px;
                        background-position: center;
                        margin-right: -5px;
                    }
                }
            }
            
            .bs-actionsbox, 
            .bs-donebutton, 
            .bs-searchbox{
                margin-bottom: 10px;
            }
            .dropdown-menu{
                font-weight: $font-600;
                font-size: $font-size-sm;
                .form-control{
                    height: 30px;  
                }
                a{
                    color: $black;
                    &:hover, &:focus{
                        background-color: #000;
                        span{
                            color: $white;
                        }
                    }
                    &.active{
                        background-color: #000;
                        span{
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}
.select-style-3{
    .dropdown{
        &.bootstrap-select{
            width: 100% !important;
            .btn{
                border-radius: 34px;
                &.btn-select{
                    height:36px;
                    font-weight: $font-600;
                    border: 1px solid $border-color;
                    color: $black-2;
                    background: $white;
                    text-transform: inherit;
                    font-size: $font-size-md;
                    line-height: $line-height-14;
                    padding:10px 15px;
                    width: auto;
                    &:focus,&:hover{
                        outline: none !important;
                        color: $black-2;
                        border: $border-grey;
                    }
                }
                &.dropdown-toggle{
                    &.show{
                        &:after{
                            transform: rotate(180deg);    
                        }
                    }
                    &:after{
                        background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.18414 5.7676C4.423 5.53792 4.80282 5.54537 5.0325 5.78423L8 8.93443L10.9675 5.78423C11.1972 5.54537 11.577 5.53792 11.8159 5.7676C12.0547 5.99727 12.0622 6.3771 11.8325 6.61596L8.4325 10.216C8.31938 10.3336 8.16321 10.4001 8 10.4001C7.83679 10.4001 7.68062 10.3336 7.5675 10.216L4.1675 6.61596C3.93782 6.3771 3.94527 5.99727 4.18414 5.7676Z" fill="%23626262"/></svg>');
                        background-size: 100%;
                        border: 0;
                        width: 26px;
                        height: 26px;
                        content: '';
                        margin-top: 0px;
                        background-position: center;
                        margin-right: -5px;
                        background-repeat: no-repeat;
                    }
                }
            }
            
            .bs-actionsbox, 
            .bs-donebutton, 
            .bs-searchbox{
                margin-bottom: 10px;
            }
            .dropdown-menu{
                font-weight: $font-600;
                font-size: $font-size-sm;
                .form-control{
                    height: 30px;  
                }
                a{
                    color: $black;
                    &:hover, &:focus{
                        background-color: #000;
                        span{
                            color: $white;
                        }
                    }
                    &.active{
                        background-color: #000;
                        span{
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}
.select-style-4{
    .dropdown{
        &.bootstrap-select{
            width: 100% !important;
            .btn{
                border-radius: 34px;
                &.btn-select{
                    height:44px;
                    font-weight: $font-400;
                    border: 0;
                    color: $white;
                    background: $white-rgba1;
                    text-transform: inherit;
                    font-size: $font-size-sm;
                    line-height: $line-height-24;
                    padding:10px 15px;
                    &:focus,&:hover{
                        outline: none !important;
                        color: $white;
                        border: 0;
                    }
                }
                &.dropdown-toggle{
                    &.show{
                        &:after{
                            transform: rotate(180deg);    
                        }
                    }
                    &:after{
                        background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.18414 5.7676C4.423 5.53792 4.80282 5.54537 5.0325 5.78423L8 8.93443L10.9675 5.78423C11.1972 5.54537 11.577 5.53792 11.8159 5.7676C12.0547 5.99727 12.0622 6.3771 11.8325 6.61596L8.4325 10.216C8.31938 10.3336 8.16321 10.4001 8 10.4001C7.83679 10.4001 7.68062 10.3336 7.5675 10.216L4.1675 6.61596C3.93782 6.3771 3.94527 5.99727 4.18414 5.7676Z" fill="white"/></svg>');
                        background-size: 100%;
                        border: 0;
                        width: 26px;
                        height: 26px;
                        content: '';
                        margin-top: 0px;
                        background-position: center;
                        margin-right: -5px;
                        background-repeat: no-repeat;
                    }
                }
            }
            
            .bs-actionsbox, 
            .bs-donebutton, 
            .bs-searchbox{
                margin-bottom: 10px;
            }
            .dropdown-menu{
                font-weight: $font-600;
                font-size: $font-size-sm;
                .form-control{
                    height: 30px;  
                }
                a{
                    color: $black;
                    &:hover, &:focus{
                        background-color: #000;
                        span{
                            color: $white;
                        }
                    }
                    &.active{
                        background-color: #000;
                        span{
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    &.font-md{
        .dropdown{
            &.bootstrap-select{
                .btn{
                    &.btn-select{
                        font-size: $font-size-md;
                    }
                }
            }
        }
    }
}

input[type="date"] {
    position: relative;
    &::-webkit-calendar-picker-indicator {
        color: transparent;
        background: none;
        z-index: 1;
    }
    &:before {
        color: transparent;
        background: none;
        display: block;
        content: '';
        background-image: url("../../../images/icons/calender.svg");
        width: 20px;
        height: 20px;
        position: absolute;
        right: 10px;
        opacity: 0.10;
    }
    &.form-calender{
        &:before {
            background-image: url("../../../images/icons/calendar-2.svg");
            opacity: 1;
            right: 15px;
        }
    }
    &.form-calender-white2{
        &:before {
            background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.2"><path d="M17.5 8.33342H2.5M13.3333 1.66675V5.00008M6.66667 1.66675V5.00008M6.5 18.3334H13.5C14.9001 18.3334 15.6002 18.3334 16.135 18.0609C16.6054 17.8212 16.9878 17.4388 17.2275 16.9684C17.5 16.4336 17.5 15.7335 17.5 14.3334V7.33342C17.5 5.93328 17.5 5.23322 17.2275 4.69844C16.9878 4.22803 16.6054 3.84558 16.135 3.6059C15.6002 3.33341 14.9001 3.33341 13.5 3.33341H6.5C5.09987 3.33341 4.3998 3.33341 3.86502 3.6059C3.39462 3.84558 3.01217 4.22803 2.77248 4.69844C2.5 5.23322 2.5 5.93328 2.5 7.33341V14.3334C2.5 15.7335 2.5 16.4336 2.77248 16.9684C3.01217 17.4388 3.39462 17.8212 3.86502 18.0609C4.3998 18.3334 5.09987 18.3334 6.5 18.3334Z" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg>');
            opacity: 1;
            right: 15px;
        }
    }
}

.custom-switch{
    &.switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
        input{
            opacity: 0;
            width: 0;
            height: 0;
            &:checked{
                & + .slider {
                    background-color: $primary;
                    &::before {
                        -webkit-transform: translateX(30px);
                        -ms-transform: translateX(30px);
                        transform: translateX(30px);
                    }
                }
            }
        } 
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $white;
            -webkit-transition: .4s;
            transition: .4s;
            border: 1px solid $grey-1;
            &::before {
                position: absolute;
                content: "";
                height: 24px;
                width: 24px;
                left: 2px;
                bottom: 2px;
                background-color: white;
                box-shadow: 0px 3px 6px #00000029;
                -webkit-transition: .4s;
                transition: .4s;
            }
            &.round {
                border-radius: 34px;
                &::before {
                    border-radius: 50%;
                }
            }
        }
        &.style-2{
            height: 34px;    
            input{
                opacity: 0;
                width: 0;
                height: 0;
                &:checked{
                    & + .slider {
                        background-color: $white;
                        &::before {
                            -webkit-transform: translateX(20px);
                            -ms-transform: translateX(20px);
                            transform: translateX(20px);
                        }
                    }
                }
            }
            .slider{
                border: 1px solid $skyblue-6;
                &::before {
                    left: 7px;
                    bottom: 11%;
                    background-color: $skyblue-2;
                    box-shadow: 0px 4px 4px 0px #00000040;
                }
            }
        }
    }
}

//CHECK BOX
.form-check {
    position: relative;
    padding-left: 30px;
    min-height: 30px;
    &.form-inline{
        display: inline-flex;
        align-items: center;
    }

    .form-check-input[type="checkbox"] {
        width: 30px;
        height: 30px;
        border-radius: $radius-lg;
        box-shadow: $shadow-lg;
        border: 1px solid $skyblue-5;
        background-color: $white;
        margin-bottom: 0px;
       
        &:checked {
            background-color: $skyblue-5;
            border-color: $skyblue-5;
            background-image: none;
        }
        &:focus {
            box-shadow: $shadow-lg;
        }
        &:hover {
            cursor: pointer;
            background-color: $skyblue-5;
        }
        &.add-after {
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
            min-height: 30px;
            & + svg {
                display: none;
                pointer-events: none;
                -webkit-pointer-events: none;
                -moz-pointer-events: none;
            }
            &:checked {
                & + svg {
                    z-index: 2;
                    display: block;
                    position: absolute;
                    left: 5px;
                    top: 5px;
                    color: $white;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .form-check-label {
        &.style-1 {
           font-size: $font-size-lg;
           font-weight: $font-600;
        }
        &.style-2 {
           font-size: $font-size-md;
           font-weight: $font-600;
           text-transform: capitalize;
        }
        &.style-3 {
           font-size: $font-size-16;
           font-weight: $font-600;
           line-height: $line-height-28;
        }
    }
    &.style-2{
        .form-check-input[type="checkbox"] {
            box-shadow: none;
            border:none;
            background-color: $white-rgba1;
            &:checked {
                background-color: $white;
                border-color: none;
            }
            &:focus {
                box-shadow: none;
            }
            &:hover {
                cursor: pointer;
                background-color: $white;
            }
            &.add-after {
                & + svg {
                    & + svg{
                        display: none;
                    }
                }
                &:checked {
                    & + svg {
                        color: $black;
                    }
                }
            }
        }
    }
}
// END CHECKBOX
  
// file input
.upload-box{
    .browse-file{
        border-right: 1px solid $grey-3;
        overflow: hidden;
        height: 100%;
        width: 60px;
        #filename{
            float:left;
            white-space: nowrap;
            overflow:hidden;
            background:$white;
        }
        #file-upload {
            position: absolute;
            left: -9999px;
            cursor: pointer;
        }
        label[for="file-upload"]{
            padding:10px;  
            display:flex;
            align-items: center;
            justify-content: center;
            background: $white;
            margin-bottom: 0;
            cursor:pointer;
            &:hover,
            &:focus {
                background-color: $grey-3;
                color: $black;
            }
        }
        #filename-2{
            float:left;
            white-space: nowrap;
            overflow:hidden;
            background:$white;
        }
        #file-upload-2 {
            position: absolute;
            left: -9999px;
            cursor: pointer;
        }
        label[for="file-upload-2"]{
            padding:0;  
            display:flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
            font-size: $font-size-sm;
            font-weight: $font-600;
            cursor:pointer;
            &:hover,
            &:focus {
                background-color: transparent;
                color: $secondary;
            }
            
        }
        &.sign{
            border-right: 0;
            width:calc(100% - 60px);
        }
    }
    a{
        &.cancel-upload-btn{
            span{
                background-color: $red;
            }
            &:hover, &:active{
                span{
                    background-color: $secondary;
                    color: $white;
                }
            }
        }
    }
    &.id-upload{
        .browse-file{
            border-right: 0;
            #filename-3,#filename-4,#filename-5, #filename-6, #filename-7{
                float:left;
                white-space: nowrap;
                overflow:hidden;
                background:$white;
            }
            #file-upload-3,#file-upload-4,#file-upload-5, #file-upload-6, #file-upload-7 {
                position: absolute;
                left: -9999px;
            }
            label[for="file-upload-3"], label[for="file-upload-4"], label[for="file-upload-5"], label[for="file-upload-6"], label[for="file-upload-7"]{
                padding:0;  
                cursor: pointer;
                &:hover,
                &:focus {
                    background-color: transparent;
                    color: transparent;
                }
            }
            label[for="file-upload-5"],label[for="file-upload-6"]{
                height: 60px;
                width: 60px;
                border: 1px dashed $skyblue-2;
                border-radius: 10px;
                padding: 5px;
            }
            label[for="file-upload-7"]{
                border: 1px dashed $skyblue-2;
                border-radius: 10px;
                padding: 19px;   
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: $text-uppercase;
                font-size: $font-size-sm;
                font-weight: $font-700;
                line-height: $line-height-18;
                color: $skyblue-2;
                &:hover{
                    color: $skyblue-2;
                }
            }
        }
    }
}
  
  
  
  
  
  
  
  