//FONT
.fs-xs          {@include font-size($font-size-xs)}
.fs-11          {@include font-size($font-size-11)}
.fs-sm          {@include font-size($font-size-sm)}
.fs-md          {@include font-size($font-size-md)}
.fs-lg          {@include font-size($font-size-lg);
    // @include media-breakpoint-down(xl) {
    //     font-size:$font-size-16;
    // }
}
.fs-xl          {@include font-size($font-size-xl!important)}
.fs-22          {@include font-size($font-size-22)}
.fs-20          {@include font-size($font-size-20)}
.fs-16          {@include font-size($font-size-16)}
.fs-13          {@include font-size($font-size-13)}
.fs-15          {@include font-size($font-size-15)}
.fs-23          {@include font-size($font-size-23)}
.fs-25          {@include font-size($font-size-25)}
.fs-26          {@include font-size($font-size-26)}
.fs-30          {@include font-size($font-size-30)}
.fs-40          {@include font-size($font-size-40)}

// FONT WEIGHT
.fw-regular     {font-weight: $font-400;}
.fw-semibold    {font-weight: $font-600;}
.fw-bold        {font-weight: $font-700;}
.fw-extrabold   {font-weight: $font-800;}
.fw-xxbold      {font-weight: $font-900;}

//TEXT STYLE
.text-caps          {text-transform: $text-uppercase;}
.letter-space7      {letter-spacing: $letter-spacing-7;}
.letter-space55      {letter-spacing: $letter-spacing-55;}
// .letter-space1      {letter-spacing: $letter-spacing-1;}
// .letter-space108    {letter-spacing:$letter-spacing-108;}
// .letter-space09     {letter-spacing:$letter-spacing-09;}

// TEXT DECORATION
.text-underline  {text-decoration: underline;}
.underline-none  {text-decoration: none;}

// LINE HEIGHT
.line-height20  {line-height: $line-height-20;}
.line-height26  {line-height: $line-height-26;}
.line-height40  {line-height: $line-height-40;}
.line-height50  {line-height: $line-height-50;}

// ALIGN
.text-align-right   {text-align: right;}
.text-align-left   {text-align: left;}

// HEIGHT
.h-90p  {height: 90%;}
.h-36   {height: $form-height36;}
.h-20   {height: 20px;}
.h-40   {height: $form-height40;}
.h-60   {height: 60px;}
.h-90   {height: 90px;}
.h-100p   {height: 100px;}
.h-100v   {height: 100vh;}

// width    
.w-20   {width: 20px;}
.w-20p   {width: 20%;}
.w-40   {width: 40px;}
.w-110   {width: 110px;}
.w-160   {width: 160px;}
.w-175   {width: 175px;}

// COLORS
.color-secondary    {color:$secondary;}
.color-green        {color:$green;}
.color-green-2        {color:$green-2;}
.color-primary      {color:$primary;}
.color-black        {color:$dark;}
.color-white        {color:$white;}
.color-green        {color:$green;}
.color-red          {color:$red;}

// BACKGROUND COLOR
.bg-red             {background-color:$red;}
.bg-black           {background-color:$black;}
.bg-grey-4          {background-color:$grey-4;}
.bg-grey-6          {background-color:$grey-6;}
.bg-grey-7          {background-color:$grey-7;}
.bg-skyblue-8       {background-color:$skyblue-8;}

// BORDERS
.border-grey            {border: $border-grey;}
.border-bottom-grey-5   {border-bottom: 1px solid $grey-5-rgba5;}
.border-bottom-secondary  {border-bottom: 1px solid $secondary-rgba2;}
.border-right-white     {border-right: 1px solid $white-rgba1}

// RADIUS
.radius-10          {border-radius: 10px;}
.radius-50          {border-radius: 50%;}

// PADDING
.p-8        {padding: 8px;}
.p-10       {padding: 10px;}
.p-15       {padding: 15px;}
.p-10-15    {padding: 10px 15px;}

// MARGIN
.margin-b5    {margin-bottom: 5px;}

// SHADOW
.shadow-md  {box-shadow: $shadow-md;}
.shadow-lg  {box-shadow: $shadow-lg;}