.modal {
    .modal-dialog {
        .modal-content {
                border-radius: 10px 0 10px 10px;
                box-shadow: 0px 4px 10px 0px #00000040;
                border: 0;
                .modal-header {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-bottom: 1px solid $dark-bluergba1;
                    text-transform: $text-uppercase;
                    .modal-title{
                        font-size: $font-size-20;
                        font-weight: $font-700;
                        line-height: $line-height-18;
                    }
                    .btn-skyblue2 {
                        z-index: -1;
                        position: absolute;
                        right: 0;
                        top: -50px;
                    }
                }
                .modal-body{
                    .modal-title{
                        font-size: $font-size-20;
                        font-weight: $font-700;
                        line-height: $line-height-18;    
                    }
                }
                .modal-footer {
                    border-top: 1px solid $dark-bluergba1;
                    display: flex;
                }
        }
 
        &.modal-sm {
            max-width: 19.5%;
        }
        &.modal-md {
            max-width: 38%;
        }
        &.modal-39 {
            max-width: 39%;
        }
        &.modal-52 {
            max-width: 52.7%;
        }
        &.modal-lg {
            max-width: 57.3%;
        }
 
        &.modal-cancel-ticket {
            .modal-content {
                .modal-body{
                    .warning-text{
                        font-size: $font-size-16;
                        line-height: $line-height-20;
                    }
                }
                .modal-footer {
                    display: flex;
                    padding: 0;
                    overflow: hidden;
                }
            }
        }
        &.modal-edit-check {
            .modal-content {
                .modal-header{
                    border-bottom: 0;    
                }
                .modal-body{
                    padding: 15px;
                    .modal-title{
                        border-bottom: 1px solid $skyblue2-rgba5;
                        text-transform: $text-uppercase;
                        padding-bottom: 15px;
                    }   
                }
                .modal-footer{
                    padding: 15px;
                    background-color: $primary;
                }
            }
        }
        &.modal-edit-cust {
            .modal-content {
                .modal-header{
                    border-bottom: 0;    
                    .btn-skyblue2{
                        border-radius: 0 0 10px 10px;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
                .modal-body{
                    padding: 15px;
                    .modal-title{
                        border-bottom: 1px solid $skyblue2-rgba5;
                        text-transform: $text-uppercase;
                        padding-bottom: 15px;
                    }  
                    .skyblue-strip{
                        background-color: $skyblue2-rgba2;
                        padding: 5px 10px;
                        .title{
                            font-size: $font-size-16;
                            font-weight: $font-800;
                            line-height: $line-height-18;
                            color: $primary;
                            text-transform: $text-uppercase;
                        }
                    } 
                    .top-part{
                        border-bottom: 1px solid $skyblue2-rgba5;   
                    }
                }
            }
        }
        &.modal-add-cash{
            .modal-content{
                .modal-body{
                    padding: 15px;
                    .modal-title{
                        border-bottom: 1px solid $skyblue2-rgba5;
                        text-transform: $text-uppercase;
                        padding-bottom: 15px;
                    }   
                }
                .modal-footer{
                    padding: 15px;
                    background-color: $primary;
                }
            }   
        }
        &.modal-edit-user{
            .modal-content{
                .modal-body{
                    padding: 15px;
                    .modal-title{
                        border-bottom: 1px solid $skyblue2-rgba5;
                        text-transform: $text-uppercase;
                        padding-bottom: 15px;
                    }   
                }
                .modal-footer{
                    padding: 15px;
                    background-color: $primary;
                }
            }   
        }
    }
 }
 
 .modal-backdrop.show {
    background-color: $primary;
    opacity: 70%;
 }