nav{
    &.navbar{
        &.inner-navbar{
            padding: 0;
            background-color: $primary;
            height: 90px;
            .link-part{
                .nav-link{
                    font-size: $font-size-16;
                    font-weight: $font-900;
                    color: $white-rgba3;
                    padding: 10px;
                    background: transparent;
                    border: 0;
                    &:hover,&:active{
                        color: $white;
                    }
                }
                .contact-link{
                    background-color: $white-rgba1;
                    padding: 0 20px;
                    border-radius: 0 0 5px 5px;
                    .nav-link{
                        font-size: $font-size-md;
                        font-weight: $font-700;
                        padding: 10px 15px;
                        &:hover,&:active{
                            color: $green-2;
                            svg{
                                path{
                                    stroke: $green-2;
                                }
                            }
                        }
                    }
                    .dropdown{
                        &.nav-dropdown{
                            padding: 10px 15px;
                            .dropdown-toggle{
                                font-size: $font-size-md;
                                font-weight: $font-700;
                                color: $white;
                                background: transparent;
                                border: 0;
                                &::after{
                                    border-top: 0;
                                    border-left: 0;
                                    border-right: 0;
                                    height: 20px;
                                    width: 20px;
                                    position: absolute;
                                    top: 10px;
                                    background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5 9.1665L10 11.6665L7.5 9.1665" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                                }
                                &.show{
                                    &::after{
                                        transform: rotate(180deg);
                                    }
                                }
                            }
                            .dropdown-menu{
                                &[data-bs-popper]{
                                    left: -55px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.ticket-landing-navbar{
            background-image: url("../../../images/backgrounds/bg-nav.png");
            height: 64px;
            padding: 0;
            .logo{
                height: 47px;
                width: 50px;
            }
            .link-part{
                border-right: 1px solid $white-rgba2;
                .dropdown{
                    .nav-link{
                        padding: 20px 10px;
                        font-size: $font-size-md;
                        font-weight: $font-900;
                        line-height: $line-height-20;
                        color: $white;
                        text-transform: $text-uppercase;
                        &:hover{
                            color: $secondary;
                        }
                        &.dropdown-toggle{
                            &::after {
                                border-left: 0;
                                border-right: 0;
                                border-top: 0;
                            }
                        }
                    }
                    .dropdown-menu{
                        box-shadow: 0px 4px 4px 0px #00000040;
                        border: 0;
                        background-color: $black;
                        border-radius: 0 0 10px 10px;
                        width: 200px;
                        padding: 10px;
                        li{
                            .dropdown-item{
                                font-size: $font-size-sm;
                                font-weight: $font-700;
                                line-height: $line-height-18;
                                color: $white;
                                text-transform: $text-uppercase;
                                padding: 10px 0;
                                &:hover{
                                    color: $secondary;
                                    background-color: transparent;
                                }
                            }
                            &:not(:last-child){
                                border-bottom: 1px solid $white-rgba1;
                            }
                        }
                        &.cash-drawer-dropdown{
                            width: 270px;
                                &::after{
                                    left: 70%;
                                }
                        }
                        &::after{
                            border-bottom: 12px solid $black;
                            border-left: 10px solid transparent;
                            border-right: 11px solid transparent;
                            content: "";
                            height: 0;
                            position: absolute;
                            width: 0;
                            top: -12px;
                            left: 20%;
                        }
                    }
                    &:hover{
                        .dropdown-menu{
                            display: block;
                            &.cash-drawer-dropdown{
                                right: 0;
                            }
                        }    
                    } 
                }
            }
            .user-menu{
                &.dropdown{
                    .user-btn{
                        padding: 15px;
                        background: transparent;
                        border: 0;
                        &:hover{
                            svg{
                                path{
                                    stroke: $secondary;
                                }
                            }
                        }
                        &.dropdown-toggle{
                            &::after {
                                border-left: 0;
                                border-right: 0;
                                border-top: 0;
                                display: none;
                            }
                        }
                    }
                    .dropdown-menu{
                        &.user-dropdown{
                            display: none;
                            box-shadow: 0px 4px 4px 0px #00000040;
                            border: 0;
                            background-color: $black;
                            border-radius: 0 0 10px 10px;
                            width: 300px;
                            margin-right: 5px;
                            margin-top: 0;
                            padding: 10px;
                            &::after{
                                border-bottom: 12px solid $black;
                                border-left: 10px solid transparent;
                                border-right: 11px solid transparent;
                                content: "";
                                height: 0;
                                position: absolute;
                                width: 0;
                                top: -10px;
                                left: 90%;
                            }
                            li{
                                .dropdown-link{
                                    font-size: $font-size-sm;
                                    font-weight: $font-700;
                                    line-height: $line-height-18;
                                    color: $white;
                                    text-transform: $text-uppercase;
                                    padding: 10px 0;
                                    &:hover{
                                        background-color: transparent;
                                    }
                                }
                                &:not(:last-child){
                                    border-bottom: 1px solid $white-rgba1;
                                }
                            }
                        }
                    }
                    &:hover{
                        .dropdown-menu{
                            &.user-dropdown{
                                display: block;
                                right: 0;
                            }
                        }    
                    }
                }
            }
        }
        &.search-ticket-navbar{
            padding: 10px 15px;
            background-color: $black;
            .sm-mb-15{
                @include media-breakpoint-down(lg){
                    margin-bottom: 15px;
                }
            }
        }
    }
}