.inbound-tabbing{
    .nav{
        &.nav-pills{
            .nav-link-part{
                box-shadow: $shadow-md;
                .nav-link{
                    color: $black;
                    font-size: $font-size-md;
                    font-weight: $font-800;
                    border-radius: 0;
                    width: 50%;
                    padding: 13px;
                    &.active{
                        background-color: $primary;
                        color: $white;
                    }
                }
            }
        }
    }
    .tab-content{
        #v-pills-inbound{
            button{
                background-color: $white;
                position: relative;
                &:hover{
                    background-color: $skyblue;
                    color: $black;
                }
            }
        }
    }
}