.table {
    background-color: $white;
    overflow: hidden;
    thead {
        box-shadow: $shadow-md;
        tr{
            th {
                font-size:$font-size-13;
                line-height:$line-height-18;
                padding: 14px;
                text-transform: $text-uppercase;
                color: $grey-5;
            }
        }   
    }
    tbody,
    thead,
    tfoot {
        th, td {
            border: none;
        }
    }
    &.ticket-table {
        tbody{
            tr{
                td{
                    font-size: $font-size-sm;
                    font-weight: $font-600;
                    color: $grey-8;
                    vertical-align: bottom;
                    position: relative;
                    border-bottom: $border-grey;
                    padding: 15px;
                }   
            }
        }
    }
    &.bottom-strip-darkblue-table{
        background-color: $primary;
        tbody{
            tr{
                td{
                    font-size: $font-size-md;
                    font-weight: $font-600;
                    color: $white;
                    line-height: $line-height-20;
                    padding: 10px;
                    &:last-child{
                        text-align: end;
                    }
                }
            }
        }
        &.bold{
            tbody{
                tr{
                    td{
                        font-weight: $font-800;
                    }
                }
            }
        }
    }
    &.ticket-landing-table{
        thead {
            box-shadow: none;
            tr{
                th {
                    font-size:$font-size-md;
                    line-height:$line-height-20;
                    padding: 12px 15px;
                    text-transform: $text-uppercase;
                    background-color: $skyblue-6;
                    color: $primary;
                    &:last-child{
                        text-align: end;
                    }
                }
            }   
        }    
        tbody{
            tr{
                td{
                    font-size: $font-size-md;
                    font-weight: $font-500;
                    line-height: $line-height-20;
                    vertical-align: middle;
                    padding: 15px;
                    background-color: $white;
                    &:last-child{
                        text-align: end;
                    }
                    span{
                        &.color-secondary{
                            color: $secondary;
                        }
                    }
                }
                &:not(:last-child){
                    td{
                        border-bottom: 1px solid $dark-bluergba1;    
                    }
                }
                &[role="button"]{
                    &:hover,&:active{
                        td{
                            background-color: $secondary;
                            color: $white;
                            span{
                                &.color-secondary{
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.new-pitch{
            thead {
                tr{
                    th {
                        &:last-child{
                            text-align: start;
                        }
                    }
                }   
            }
            tbody{
                tr{
                    td{
                        &:last-child{
                            text-align: start;
                        }
                    }
                }
            }    
        }
        &.last-row-primary{
            tbody{
                tr{
                    &:last-child{
                        td{
                            background-color: $primary;
                            color: $white;
                            span{
                                &.color-secondary{
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.tbody-font-sm{
            tbody{
                tr{
                    td{
                        font-size: $font-size-sm;
                        font-weight: $font-600;
                        line-height: $line-height-20;
                    }
                }
            }    
        }
        &.thead-font-16{
            thead {
                tr{
                    th {
                        font-size:$font-size-16;
                    }
                }   
        }  
            tbody{
                tr{
                    td{
                        font-size: $font-size-md;
                        font-weight: $font-600;
                        line-height: $line-height-20;
                    }
                }
            }    
        }
    }
}
.ticket-table-container{
    border-radius: $radius-lg;
    overflow: hidden;
    box-shadow: 0px 5px 10px 5px #0000000D;
}


.collapsible-table {
    box-shadow: 0px 5px 10px 5px #0000000D;
    border-radius: $radius-lg;
    overflow: hidden;
    thead {
        box-shadow: none;
        tr {
            th {
                font-weight: $font-700;
                font-size: $font-size-16;
                color: $primary;
                text-transform: $text-uppercase;
                background-color: $skyblue-6;
                padding: 13px 10px;
            }
        }
    }
    tbody {
        tr {
            td {
                font-size: $font-size-md;
                font-weight: $font-600;
                padding: 15px 10px;
                vertical-align: middle;
                .d-btn-skyblue{
                    display: none;
                }
                .d-btn-primary{
                    display: inline-block;
                }
            }
            &.collapse{
                background: $white;
                border-bottom: 1px solid $dark-bluergba1;
                td{
                    .table-inner{
                        background: $grey-head;
                        tr{
                            &:not(:last-child){
                                border-bottom: 1px solid $table-border;
                            } 
                            td{
                                &:not(:last-child){
                                    border-right: 1px solid $table-border;
                                }
                            }
                        }
                    }
                }
            }
            &.collapsed{
                td{
                    .d-btn-primary{
                        display: none;
                    }
                    .d-btn-skyblue{
                        display: inline-block;
                    }
                }
            }
        }
    }
}