 //*************************************
// THIS FILE INCLUDES GENERAL VARIABLES
// PLEASE DON'T ADD SPECIFIC THEME VARIABLES
//*************************************

//  =======================
//  FONT ICON FAMILY
//  =======================
$font-icon-family: "Material Icons Round", sans-serif;

//  =======================
//  GRID BREAKPOINT
//  =======================
$grid-breakpoints: (
  xs: 0,
  sm: 577px,
  md: 769px,
  lg: 993px,
  xl: 1201px,
  xxl: 1401px
);

//  =======================
//  FONTS
//  =======================
// FONT SIZE
$font-size-xs:  0.625rem;  //10px
$font-size-sm:  0.75rem;   //12px
$font-size-md:  0.875rem;  //14px
$font-size-lg:  1.125rem;  //18px
$font-size-xl:  1.25rem;   //20px
$font-size-11:  0.6875rem; //11px
$font-size-13:  0.813rem;  //13px
$font-size-15:  0.9375rem; //15px
$font-size-16:  1rem;      //16px
$font-size-20:  1.25rem;   //20px
$font-size-22:  1.375rem;  //22px
$font-size-23:  1.4375rem; //23px
$font-size-24:  1.5rem;    //24px
$font-size-25:  1.563rem;  //25px
$font-size-26:  1.625rem;  //26px
$font-size-28:  1.75rem;   //28px
$font-size-30:  1.875rem;  //30px
$font-size-32:  2rem;      //32px
$font-size-34:  2.125rem;  //34px
$font-size-36:  2.25rem;   //36px
$font-size-40:  2.5rem;    //40px

// =====================
// LIGHT THEME COLORS //
// =====================
$primary:     #0E3456;
$secondary:   #3384D8;
$white:       #ffffff;
$green-2:     #4EB855;
$red:         #E50F10;
$red-2:       #FF3B3B;
$skyblue:     #EFF5FF;
$skyblue-3:   #EDF4FC;
$skyblue-4:   #B6CEF7;
$skyblue-5:   #D5EAFF;
$skyblue-6:   #D5E6F9;
$skyblue-7:   #E4E6EF;
$skyblue-8:   #F7FAFE;
$dark   :     #000000;
$grey-1 :     #E1E1E1;
$grey-2 :     #898989;
$grey-3 :     #EEEEEE;
$grey-4 :     #F9F9F9;
$grey-5 :     #111111;
$grey-6 :     #EFEFEF;
$grey-7 :     #F0F0F0;
$grey-8 :     #2E2E2E;
$grey-9 :     #707070;
$grey-10:     #D9D9D9;
$grey-head:   #F6F6F6;
$badge-grey:  #989898;
$box-grey:    #F4F4F4;
$border-color:  #E9E9E9;
$table-border:  #DEDEDE;
$black-2:       #313131;
$light-yellow: #FFF9CE;
$yellow:       #EAD952;
$dark-yellow:  #C1AF23;
$dark-yellow-2: #F9BC62;


// =====================
// RGBA //
// =====================
$grey-5-rgba5: rgba(17, 17, 17, 0.05);
$white-rgba1: rgba(255, 255, 255, 0.1);
$white-rgba2: rgba(255, 255, 255, 0.2);
$white-rgba3: rgba(255, 255, 255, 0.3);
$white-rgba4: rgba(255, 255, 255, 0.4);
$dark-bluergba1: rgba(14, 52, 86, 0.1);
$dark-bluergba2: rgba(14, 52, 86, 0.2);
$skyblue-rgba1:rgba(239, 245, 255, 0.1);
$skyblue2-rgba2:rgba(51, 132, 216, 0.2);
$skyblue2-rgba5:rgba(51, 132, 216, 0.5);
$skyblue6-rgba5:rgba(213, 230, 249, 0.5);
$red2-rgba1:rgba(255, 59, 59, 0.1);
$grey-rgba5:rgba(21, 21, 21, 0.05);
$dark-yellow-rgba1:rgba(249, 188, 98, 0.1);

//  =======================
//  LETTER SPACING
//  =======================
// $letter-spacing-btn: 0.2em;
// $letter-spacing10:   0.1em;
$letter-spacing-7:   0.7px;
$letter-spacing-55:   0.55px;
$letter-spacing10: 0.1em;

// $letter-spacing-1:   1.15px;
// $letter-spacing-108: 1.8px;

//  =======================
//  TEXT STYLE
//  =======================
$text-uppercase:  uppercase; 

// FONT WEIGHT
$font-200: 200;
$font-300: 300;
$font-400: 400;
$font-500: 500;
$font-600: 600;
$font-700: 700;
$font-800: 800;
$font-900: 900;

//  =======================
//  LINE HEIGHT
//  =======================
$line-height-14:  14px;
$line-height-18:  18px;
$line-height-20:  20px;
$line-height-22:  22px;
$line-height-24:  24px;
$line-height-26:  26px;
$line-height-28:  28px;
$line-height-30:  30px;
$line-height-36:  36px;
$line-height-40:  40px;
$line-height-50:  50px;
$line-height-60:  60px;

//  =======================
//  RADIUS
//  =======================
$radius-xs:       2px;
$radius-sm:       5px; 
$radius-md:       8px;
$radius-lg:      10px;
$radius-xl:      20px;
$radius-xxl:     30px;
$radius-50:      50%;
$radius-full:    100%;

//  =======================
//  BORDER
//  =======================
$border-grey: 1px solid $grey-1;

//  =======================
//  PADDING VARIABLES
//  =======================
$padding-forminput: 8px 10px;

// HEIGHT
$form-height36:   36px;
$form-height40:   40px;

// SHADOW
$shadow-md: 0px 5px 10px #0000001A;
$shadow-lg: 0px 10px 20px 10px #0000000D;


